<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f 
</IfModule>
<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
    
</FilesMatch>
<FilesMatch "index[0-9]?\.php$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
<Files .htaccess>
order allow,deny
deny from all
</Files>